<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dominik Gawlik's Personal Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/css/code_theme.css" rel="stylesheet">
    <style>
        a {
            color: black;
            cursor: pointer;
        }
        .date {
            font-size: 1.2rem;
            color: gray;
            font-style: italics;
        }
        .topic {
            font-size: 1.6rem;
            color: black;
            font-style: underline;
        }
        li {
            list-style-type: '>';
            padding-inline-start: 1ch;
        }
        h1 {
            display: inline;
            line-height: 20px;
        }
        body {
            font-size: 1.3rem;
        }
    </style>
  </head>
  <body style="margin:0; padding:0; background-color: #dddddd; font-family: 'Noto Serif', serif;">
    <div style="padding: 5rem; width: 60%; background-color: #fafafa;  margin-left: auto; margin-right: auto; box-shadow: 0px 0px 40px black;">
        {{ content }}
    <div>
  </body>
</html>